<div class="wrapper">
	<h1>change password with the form bellow</h1>

	<form action="/account/changePassword" method="post">

		<label for="oldPassword">old password</label>
		<input type="password" name="oldPassword" required>
	
		<label for="newPassword">new password</label>
		<input type="password" name="newPassword" required>
	
		<label for="confirmNewPassword">confirm new password</label>
		<input type="password" name="confirmNewPassword" required>
		
		<div class="space5"></div>
		<input type="submit" class="metroButton" value="update"/>
	</form>
</div>
