<form action="/account/login" method="post">
    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                <label>username</label>
                <input type="text" id="username" name="username" required/>
            </li>
            <li>
                <label>password</label>
                <input type="password" id="password" name="password" required/>
            </li>
            <li>
                -- checkboxfor persistent cookie here --
            </li>
        </ol>
        <input class="btn btn-success" type="submit" value="Log in"/>
    </fieldset>
</form>

<p>
    <a class="btn btn-primary" href="/account/register" class="metroButton">Register</a> if you don't have an account.
</p>