<!DOCTYPE html> 
<html> 
	<head> 
	<title>microscope</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="/content/jquery.mobile-1.3.0.min.css" />
	<script src="/scripts/jquery.js"></script>
	<script src="/scripts/jquery.mobile-1.3.0.min.js"></script>
</head> 
<body> 

<div data-role="page">

	<div data-role="header" data-theme="b">
		<h1>microscope framework</h1>
	</div>
	<div data-role="navbar" class="ui-body-e">
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/home/docs">docs</a></li>
			<%- partial('shared/_login') %>
		</ul>
	</div>

	<div data-role="content">	
		<%- body %>
	</div>

</div>

</body>
</html>