<!DOCTYPE html>
<html>
  <head>
    <title>microscopejs - framework</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/content/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>

  		<div style="margin:auto; width:85%;">
			<div class="navbar" style="margin:10px;">
				<div class="navbar-inner">
					<a class="brand" href="/"><img src="/images/microscope.png" style="width: 42px; margin:0;"/> microscopejs</a>
					<ul class="nav">
						<li><a href="/">home</a></li>
						<li><a href="/home/docs">docs</a></li>
					</ul>
					<ul class="nav pull-right">
						<%- partial('shared/_login') %>
					</ul>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<%- body %>
				</div>
			</div>
  		</div>

	    <script src="/scripts/jquery.js"></script>
	    <script src="/scripts/bootstrap.min.js"></script>
  </body>
</html>
