<div style="width:500px; text-align:center; margin-left:auto; margin-right:auto;">
    <h1>Delete</h1>
    <fieldset class="graybg">
        <legend>user</legend>
        
        <label for="username">username</label>
<div>
		<%- user.username %>
</div>

<label for="email">email</label>
<div>
		<%- user.email %>
</div>

<label for="password">password</label>
<div>
		<%- user.password %>
</div>



        <form action="/user/delete" method="post">
            <input type="hidden" value="" name="id" id="id">
            <p>
                <input type="submit" value="delete" class="metroButton"/>
            </p>
        </form>
    </fieldset>
</div>

