/**
 * import your module .styl file here to generate only one css for your microscope application.
 * 
 * example :
 *
 * @import "../../apps/frontend/assets/styles/myfile.styl"
 */
.text-justify {
  text-align: justify;
}
