<form class="form-horizontal form-update-password" role="form" action="/account/changePassword" method="post">
	
	<div class="col-md-offset-3 col-md-6">
		<legend>Fill the form to change your password</legend>
		
		<div class="form-group">
			<label for="oldPassword" class="col-sm-3 col-md-4 control-label">
				Old Password
			</label>
			<div class="col-sm-9 col-md-8">
				<input type="password" class="form-control" name="oldPassword" 
						required placeholder="Old Password" />
			</div>
		</div>
		<div class="form-group">
			<label for="newPassword"  class="col-sm-3 col-md-4 control-label">
				New Password
			</label>
			<div class="col-sm-9 col-md-8">
				<input type="password" name="newPassword" required class="form-control" 
						placeholder="New Password">
			</div>
		</div>
		<div class="form-group">
			<label for="confirmNewPassword" class="col-sm-3 col-md-4 control-label">
				Confirm New Password
			</label>
			<div class="col-sm-9 col-md-8">
				<input type="password" name="confirmNewPassword" required class="form-control" 
						placeholder="Confirm">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<input type="submit" value="Update" class="btn btn-success" />
			</div>
		</div>
	</div>
</form>