<form action="/account/login" method="post">
    <fieldset>
        <legend>Log in Form</legend>
        <div class="input text required">        
            <label for="username">username</label>
            <input type="text" class="input text" id="username" name="username" required="">
        </div>
        <div class="input password required">
            <label for="password">password</label>
            <input type="password" id="password" name="password" required="">
        </div>
        <div class="submit">
            <input class="btn btn-success" type="submit" value="Log in">
        </div>
    </fieldset>
</form>

<p>
    <a class="btn btn-primary" href="/account/register">Register</a> if you don't have an account.
</p>