<form action="/account/register" method="post">
    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                <label>username</label>
                <input type="text" id="username" name="username" required/>
            </li>
            <li>
                <label>email</label>
                <input type="email" id="email" name="email" required/>
            </li>
            <li>
                <label>password</label>
                <input type="password" id="password" name="password" required/>
            </li>
            <li>
                <label>confirmPassword</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required/>
            </li>
        </ol>
        <input type="submit" value="Register" class="btn btn-success"/>
    </fieldset>
</form>