<div class="hero-unit text-center">
  <h1>microscope.js</h1>
  <p>Node.js MVC framework</p>
  <p>
    <a href="/home/docs" class="btn btn-primary btn-large">
      Read the docs
    </a>
  </p>
</div>

<ol>
    <li>
        <h5>Scaffolding engine</h5>
        <p>Open your shell in the root of your microscope project and type the following command : 
          </br><pre>node microscope.js generate_crud article title:string content:text </pre>
        </p>
        <p>microscope scaffolding engine allow you to create controller, api, services, model and views quickly for rapid development.</p>
    </li>

    <li>
        <h5>Try this out on a mobile device</h5>
        <p>microscope framework supports various template options for viewing on mobile devices as recommend in Node.js Webmatrix samples.</p>
    </li>

    <li>
        <h5>The power of JavaScript</h5>
        <p>microscope framework come with a large choice of JavaScript librairies. <a href="http://jquerymobile.com/">jQuery Mobile</a> (Touch-Optimized Web Framework for Smartphones & Tablets), 
          <a href="http://jquery.com/">jQuery</a> (DOM/Ajax manipulation), <a href="https://github.com/CodeSeven/toastr">toastr</a> (notifications). <br>
          We encourage the use of tools such as <a href="http://knockoutjs.com/">knockoutjs</a> or <a href="http://angularjs.org/">angularjs</a> and provide libraries in microscopejs.
        </p>
    </li>

    <li>
        <h5>Authentication</h5>
        <p>microscope framework use <b>passport.js</b> to perform user authentication with locals or with oAuth data.</p>
    </li>
</ol>

