/**
 * import your module .styl file here to generate only one css for your microscope application.
 * 
 * example :
 *
 * @import "../../apps/frontend/assets/styles/myfile.styl"
 */

@import "variables"

.text-justify
	text-align: justify

.form-update-password
	margin: 35px 20px 20px 20px
	
label[for=confirmNewPassword]
	padding-top: 0 !important