<h1>Create <%= model.name %></h1>
<div>
	<form action="/<%= model.name %>/create" method="post">
		
		#SCAFFOLDINGFIELDS#
    
		<div class="space5"></div>
		<input type="submit" value="create" class="btn btn-success"/>
	</form>
</div>