<div>
    <h1>Delete</h1>
    <fieldset>
        <legend><%= model.name %></legend>
        
        #SCAFFOLDINGFIELDS#

        <form action="/<%= model.name %>/delete" method="post">
            <input type="hidden" value="" name="id" id="id">
            <p>
                <input type="submit" value="delete" class="btn btn-danger"/>
            </p>
        </form>
    </fieldset>
</div>

