<div style="width:500px; text-align:center; margin-left:auto; margin-right:auto;">
    <h1>Details</h1>
    <fieldset class="graybg">
        <legend><%= model.name %></legend>

        #SCAFFOLDINGFIELDS#

		<a href="/<%= model.name %>/edit/#MODELID#">edit</a>
    </fieldset>
</div>
