<div>
    <h1>Details</h1>
    <fieldset>
        <legend><%= model.name %></legend>

        #SCAFFOLDINGFIELDS#

		<a class="btn btn-warning" href="/<%= model.name %>/edit/#MODELID#">edit</a>
    </fieldset>
</div>
