<h1>Index</h1>

<table class="bhtztable">
    <thead>
        <tr>
            <td>id</td>
            #SCAFFOLDINGPROPERTIES#
          <td>action</td>
        </tr>
    </thead>
    <tbody>
        #FOREACH#
        <tr>
            #SCAFFOLDINGFIELDS#
            <td><a href="/<%= model.name %>/edit/#MODELID#">edit</a> - <a href='/<%= model.name %>/delete/#MODELID#'>delete</a></td>
        </tr>
        #ENDFOREACH#
    </tbody>
</table>

<a href="/<%= model.name %>/create">create new</a>