<% form_for("{{- model.name }}", {controller: '/{{- model.name }}', action: '/create'}, function(f){ %>
	
	<%- f.hidden_field("id") %>

	{{ model.inputFields.forEach(function(field){ }}
	  <div class="control-group">
	    <%- f.label_for("{{- field.name }}", {class : "control-label"}) %>
	    {{- field.html }}
	  </div>
	{{ }); }}

	<%- f.submit("Save", {class : 'btn btn-success'}) %>
<% }) %>