<div class="panel panel-primary">
    <div class="panel-heading">articles</div>
    <div class="list-group">

		<% {{- model.name }}s.forEach(function({{- model.name }}){ %>
			<a href="/{{- model.name }}/show/<%= {{- model.name }}.id %>" class="list-group-item">
				<%- {{- model.name }}.{{- model.properties[0].name }} %>
			</a>
		<% }); %>
    </div>
</div>

<a href="/{{- model.name }}/new" class="btn btn-primary" style="width:100%;">Create new</a>