<div>
  <h2>edit</h2>

  <fieldset>
    <legend>
      <%= model.name %>
    </legend>
    <form action="/<%= model.name %>/edit/" method="post">

        #SCAFFOLDINGHIDDEN#
		
        #SCAFFOLDINGFIELDS#

      <div class="space5"></div>
      <input type="submit" value="save" class="metroButton"/>
    </form>

  </fieldset>

  <a href="/<%= model.name %>">back to list</a>
</div>
